
<div class="container-fluid">

    <div class="row gr_content">
      
      <h1 class="col-12 padding_top"><%= @group.title %></h1>

      <div class="gr_img col-md-6 float-md-left">
        <div class="carousel slide" data-ride="carousel" id="slides">

          <ul class="carousel-indicators gr_bottom">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
          </ul>

          <div class="group_carousel-inner" role="listbox">
            <% @group.images.each_with_index do |image, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
              <%= image_tag(image.file_url, class: 'img-responsive') %>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#slides" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#slides" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="col-md-6 gr_text">
        <strong>Описание:</strong>
        <p><%= @group.text %></p>
        
        <button class="btn btn-warning btn-lg" type="button"><%= link_to 'Продукты', group_products_path(@group) %></button>
      </div>  
    </div>
</div>
