<div class="container padding_top padding">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8 col-xl-8 search">
      <%= form_tag all_products_path, method: :get do  %>
        <%= text_field_tag 'q[name_cont]', params[:q]&.[](:name_cont), placeholder: 'Поиск по товару' %>
        <%= text_field_tag 'q[price_qteq]', params[:q]&.[](:price_qteq), placeholder: 'Минимальная цена' %>
        <%= text_field_tag 'q[price_lteq]', params[:q]&.[](:price_lteq), placeholder: 'Максимальная цена' %>
    </div>
    <div class="col-xs-2 col-sm-2 vol-md-4 col-lg-4 col-xl-4">
      <%= submit_tag 'Поиск', class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>

<h1 class="display-4 text-center">Все товары</h1>
<div class="container padding">
  <div class="prod_box padding">

    <% @products.each do |product| %>
    <div class="prod_info text-center">
      <div class="rotate">
        <div class="prod_img oneImg">
          <% product.images.each do |image| %>
            <%= image_tag(image.file_url, class: 'img-responsive img-rounded') %>
          <% end %>
        </div>
        
        <div class="text">
          <div class="padding">
            <h3 class="card-title"><%= product.name%></h4>
            <p>Цена: <%= product.price %></p>

            <button type="button" class="btn btn-success" >Открыть блок</button>
          </div>
        </div> 
      </div> 
    </div>
    <% end %>
  </div>  
</div>
