
<div class="container padding">
  <h1 class="text-center padding_top"><%= @product.name %></h1>
  <div class="prod_box padding">
    <div class="prod_info">
      <h3 class="card-title pricing-card-title">Цена: <%= @product.price %></h3>
      <p><%= @product.pr_description %></p>
    </div>
    <div class="img_section">
      <div class="prod_img">
        <% @product.images.each do |image| %>
          <%= image_tag(image.file_url) %>
        <% end %>
      </div>
    </div>
  </div> 

  <!-- Button trigger modal -->

  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Описание
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><%= @product.pr_description %></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

